{
  "dropbox_path": "/Dropbox/ShapeDevFiles/Moody/UI",
  "target_name": "moody",
  "project_name": "moody",
  "ship_shape_distribution_lists": {
    "SHAPE mofibo devs": [
      "ole@shape.dk",
      "soren@shape.dk",
      "nicolas@shape.dk",
      "shapetestdevices@gmail.com",
      "kasper@shape.dk"
    ]
  }
}